#menu {
    width: 10em;
    margin-top: 2px;
    background: #334;
    border-radius: 0.3em;
    border: none;
    padding: 4px;
    width: 12rem;
    position: absolute;
}

#menu > button {
    color: #fff;
    text-align: left;
    font-size: 1em;
    border-radius: 0.3em;
    background: #567;
    padding: 3px 4px;
}

#menu > button:hover {
    background: #fff;
    color: #000;
}

.menu svg {
    height: 1.2em;
    vertical-align: bottom;
    fill: #fff;
}

.print svg {
    fill: #0df;
}

.editor svg {
    fill: #fb0;
}

.download svg {
    fill: #0f0;
}

.upload svg {
    fill: #a6f;
}

.about svg {
    fill: #ff0;
}

button.menu:hover svg {
    fill: #000;
}