@media print {

    :root, .schedule.specials0, .schedule.grade0 {
        background:none;
    }

    .topbar, .header.header-sticky, .column::-webkit-scrollbar, .column::-webkit-scrollbar-thumb, #copyright {
        display:none;
    }

    .column {
        width: 100%;
        padding: 0;
        height: auto;
        float:none;
    }

    .column.left {
        padding: 0;
        page-break-after: always;
    }

    .frame {
        display: block;
        padding: 0;
        margin: 0;
        background: none;
        width: 100%;
    }

    .schedule th, td {
        position: relative;
        border: 1.5px solid #fff;
        width:8.5rem;
        text-align:center;
        padding: 0;
    }

    .schedule tr:first-child td, th {
        background: #ddd;
        color: #000;
    }
    .schedule button{
        padding: 2px 0;
        line-height: 1.2em;
        font-size: 0.875rem;
    }

    div.grade_schedule, div.special_schedule {
        page-break-inside: avoid;
        margin-bottom: 1em;
    }

}