.dropdown {
    display:block;
    position:absolute;
    z-index:1;
    border:2px solid #fff;
    text-align:center;
    width: 5rem;
    margin:auto;
    box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.2), 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
    background: #ddd;
}

.dropdown > .dropdown_button {
    border-top: 1px solid #fff;
    padding: 3px 0;
}

.flip {
    transform: perspective(1000px) rotateY(90deg);
    
    transition: .5s 
}

.flip2{
transform: perspective(1000px) rotateY(180deg);

transition: .2s 
}