#editor table.schedule {
    width: 100%;
}
#editor .schedule th, #editor .schedule td{
    font-size: 1rem;
}

#editor input {
    font-size: 1rem;
    margin: 10px 2px;
    width: 96%;
}

#editor input.abbr {
    width: 3em;
    text-align: center;
}

#editor .schedule tr {
    min-height: 3rem;
}

#editor table.schedule td:nth-child(1) {
    width: 2.5em;
    background: none;
}
#editor table.schedule td:nth-child(2) {
    width: 10em;
}
#editor table.schedule td:nth-child(3) {
    width: 9em;
}
#editor table.schedule td:nth-child(4) {
    width: 3em;
}
#editor table.schedule td:nth-child(5) {
    width: 4em;
}
#editor table.schedule td:nth-child(6) {

}
#editor table.schedule td:nth-child(7) {
    width: 3em;
}
#editor table.schedule.edit_blocks td:nth-child(3) {
    width: 12em;
}

button.arrow {
    font-size: 1em;
    padding: 2px;
    border-radius: 0.3rem;
    width: 8em;
    margin: 4px;
}

button.arrow svg {
    display: inline-block;
    float: right;
    height: 1em;
    margin-right: .3rem;
}

button.arrow div {
    display: inline-block;
}