.edit td {
    text-align:left;
    font-size: 1.2rem;
}

.edit tr {
    min-height: 3rem;
}

.edit tr:first-child td{
    padding: 2px;
}

.edit td:nth-child(1) {
    width: 9rem;
}

.edit td:nth-child(2) {
    width: 9rem;
}

.edit td:nth-child(3) {
    width: 4rem;
    text-align: center;
}

.edit td:nth-child(4) {
    width: 4rem;
    text-align: center;
}

.edit td:nth-child(5) {
    width: 10rem;
}

.edit input {
    font-size: 1.2rem;
    width: 100%;
    margin: 10px 2px;
}

.edit td:nth-child(3) input {
    font-size: 1.2rem;
    width: 96%;
    text-align: center;
}

.edit input {
    font-size: 1.2rem;
    width: 96%;
}

button.inv{
    background: none;
    border: none;
}

.delete svg {
    fill: #999;
    width: 24px;
}
.delete:hover svg {
    fill: #f00;
}

td.delete {
    background-color: #fcc;
    border-color: #fcc;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }