#open_menu {
    height: 2em;
    width: 2em;
    background: none;
    margin: 0;
}

#open_menu svg {
    height: 1.8em;
    width: 2em;
    filter: saturate(0) brightness(1000);
    margin-top:2px;
}

#open_menu svg:hover {
    filter: saturate(1) brightness(1);
}

#menu {
    width: 10em;
    margin-top: 5px;
    background: #000;
    padding: 2px;
    width: 12rem;
    position: absolute;
    right: 0;
}

button.menu {
    display: block;
    width: 100%;
    height: 1.6em;
    color: #fff;
    text-align: left;
    font-size: 1em;
    background: none;
}

button.menu:hover {
    background: #fff;
    color: #000;
}

.menu svg {
    height: 1.2em;
    vertical-align: bottom;
    fill: #fff;
}

.print svg {
    fill: #0df;
}

.editor svg {
    fill: #fb0;
}

.download svg {
    fill: #0f0;
}

.upload svg {
    fill: #a6f;
}

button.menu:hover svg {
    fill: #000;
}