@media print {

    :root {
        background:none;
    }

    .topbar {
        display:none;
    }

    .column {
        width: 100%;
        padding: 0;
        height: auto;
        float:none;
    }

    .column.left {
        padding: 0;
        page-break-after: always;
    }

    .frame {
        display: block;
        padding: 0;
        margin: 0;
        background: #fff;
        color: #000;
        width: 100%;
    }

    .column::-webkit-scrollbar {
        display: none;
    }
    
    .column::-webkit-scrollbar-thumb {
        display: none;
    }

    .schedule tr:first-child {
        color:#fff;
    }
    
    .schedule th, td {
        position: relative;
        font-size: 0.875rem;
        border: 1.5px solid #fff;
        width:8.5rem;
        text-align:center;
        padding: 0;
    }

    .schedule button{
        padding: 2px 0;
        line-height: 1.3em;
    }

    div {
        page-break-inside: avoid;
        margin-bottom: 1em;
    }

    .schedule tr:first-child {
        color:#fff;
    }

    .schedule.specials0 {
        background: #fff;
    }

    .schedule.grade0 {
        background: #fff;
    }

}