#editor td, #editor input{
    font-size: 1rem;
}

.edit td {
    text-align:left;
}

.edit tr {
    min-height: 3rem;
}

.edit tr:first-child td{
    padding: 2px;
}

.edit td:nth-child(1) {
    width: 9rem;
}

.edit td:nth-child(2) {
    width: 9rem;
}

.edit td:nth-child(3) {
    width: 4rem;
    text-align: center;
}

.edit td:nth-child(4) {
    width: 4rem;
    text-align: center;
}

.edit td:nth-child(5) {
    width: 10rem;
}

.edit input {
    
    width: 100%;
    margin: 10px 2px;
}

.edit td:nth-child(3) input {
    
    width: 96%;
    text-align: center;
}

.edit input {
    
    width: 96%;
}

button.inv{
    display: inline;
    background: none;
    line-height: 1.0em;
}

.delete svg {
    fill: #999;
    width: 24px;
}

.delete:hover svg {
    fill: #f00;
}

td.delete {
    background-color: #fcc;
    border-color: #fcc;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.grade.schedule td.edit_grade{
      width: 1.0em;
 }

  button.schedule.delete {
      background: #fcc;
  }

  .add svg{
      fill: #999;
      width: 24px;
  }

  td.add {
      background: #8cf;
      border-color: #8cf;
  }

.add:hover svg{
    fill: #28f;
}   

  button.edit_grade {
      
  }

  hr.black {
    border:1px solid #000;
  }

.blocks td {
    text-align:left;
    
    text-align: center;
}

.blocks tr {
    min-height: 3rem;
}

.blocks tr:first-child td{
    padding: 2px;
}

.blocks td:nth-child(1) {
    width: 3.2rem;
    padding: 10px 0;
}

.blocks td:nth-child(2) {
    width: 11rem;
}

.blocks td:nth-child(3) {
    width: 25rem;
}

.blocks td:nth-child(4) {
    width: 2rem;
}

div.blocks {
    display: inline-block;
    border-radius: .3rem;
    margin: 4px;
    padding: 4px 8px;
    background: #efefef;
}

div.blocks button {
    margin-bottom: .1rem;
    margin-left: 4px;
}

input.blocks {
    width: 3.7rem;
    
}

div.blocks.delete {
    background: #fcc;
}

button.add.altBlock {
    
}

.edit.grade.schedule td:nth-child(1) {
    width: 12rem;
}

.edit.grade.schedule td:nth-child(2) {
    width: 6rem;
}

.edit.grade.schedule td:nth-child(3) {
    width: 10rem;
}

.edit.grade.schedule td:nth-child(24) {
    width: 2rem;
}